##**BITS F464 - Semester 1 - MACHINE LEARNING**
--------------------------------------------------------------------------------

**PROJECT - MACHINE LEARNING FOR SUSTAINABLE DEVELOPMENT GOALS (SDGs)**
--------------------------------------------------------------------------------
***Team number: 13***

---
(*In Title case, separated with commas*)
***Full names of all students in the team: ANIRUDH BAGALKOTKER, KARTIK PANDEY, ADWAIT KULKARNI, JOY SINHA***

---
(*Separated by commas*)
***Id number of all students in the team: 2021A7PS2682H, 2021A7PS2574H, 2021A7PS2995H, 2021A8PS1606H***

Please refer to the email providing the assignment of project and follow the instructions provided in the project brief.

# **_1. Preprocessing of Dataset_**

### The respective dataset has been shared in the project brief. Please refer to it.

### **Import Dependencies and Load Dataset**

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
# Load the dataset
df = pd.read_csv('./water_portability.csv')
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

### **Data Preprocessing**

In [25]:
# Check if there are any missing values
df.isna().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [26]:
# Handle missing values (if any) by replacing them with the mean
df.fillna(df.mean(), inplace=True)
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [27]:
# Normalize the dataset (Check if the column name is not "Potability". if not then apply normalization)
for col in df.columns:
	if col != 'Potability':
		df[col] = (df[col] - np.mean(df[col])) / (np.std(df[col]))
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,-6.043133e-16,0.259195,-0.139471,0.112415,9.613574e-01,1.708954,-1.180651,1.306149,-1.286298,0
1,-2.289339e+00,-2.036414,-0.385987,-0.307694,3.145987e-15,2.062575,0.270597,-0.638480,0.684218,0
2,6.928678e-01,0.847665,-0.240047,1.360594,3.145987e-15,-0.094032,0.781117,0.001509,-1.167365,0
3,8.409504e-01,0.547651,0.000493,0.592008,6.395190e-01,-0.778830,1.255134,2.152874,0.848412,0
4,1.368569e+00,-0.464429,-0.460249,-0.363698,-6.541765e-01,-0.343939,-0.824357,-2.181599,0.138786,0

### **Generate Random Test and Train Splits**

In [28]:
seed = 420
train_fraction = 0.8
train = df.sample(frac=train_fraction, random_state=seed)
test = df.drop(train.index)

In [29]:
train.info

<bound method DataFrame.info of                 ph  Hardness    Solids  Chloramines       Sulfate  \
2043  3.216080e-02 -0.151140  0.366530    -0.325005 -4.019393e-01
1952 -4.328949e-01 -0.904473  0.324132     1.497359 -1.282986e+00
3236 -1.573976e+00  1.827556  2.964878    -0.852325  3.145987e-15
1434  1.644569e-01 -0.008067 -0.282834    -0.291323 -9.943908e-01
2725  4.763279e-01  0.774911  2.106667    -0.616725 -8.701890e-01
...            ...       ...       ...          ...           ...
861  -6.043133e-16 -0.353426  0.739688    -0.361530 -8.457315e-02
51    4.958983e-01 -2.917494 -1.140673    -1.206665 -2.395736e+00
1673  5.413918e-01  1.658633 -0.715506     0.602373  3.145987e-15
1018 -7.264140e-01  0.683618 -0.050226     1.373209 -3.488787e-01
362  -1.390345e-01 -0.168062 -0.003999    -0.942430  8.317196e-01

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
2043     -0.085385       -0.429187         0.765639   0.696956           1
1952      0.659240       -1.084726        -0.046993  -0.531719           1
3236      2.032186        0.682232        -1.360884  -0.094082           1
1434     -0.100599        0.869739         0.194772  -1.262570           0
2725      1.701670       -0.765474        -0.940977   0.814136           1
...            ...             ...              ...        ...         ...
861      -0.553181       -0.979716        -0.277880  -0.722213           0
51        2.215211       -1.412970        -0.019795  -1.947217           0
1673     -0.432441        0.682930        -0.453478  -0.067774           0
1018      0.223625        0.138883        -0.250709  -0.655117           0
362      -0.953067       -1.430994         0.127767   0.741487           1

[2621 rows x 10 columns]>

In [30]:
test.info

<bound method DataFrame.info of                 ph  Hardness    Solids  Chloramines       Sulfate  \
2     6.928678e-01  0.847665 -0.240047     1.360594  3.145987e-15
3     8.409504e-01  0.547651  0.000493     0.592008  6.395190e-01
5    -1.018355e+00 -0.245057  0.768155     0.266983 -1.964024e-01
15   -4.990862e-01 -0.293131  2.172994     1.584061  8.498721e-01
18    1.289126e+00  2.524360 -0.291277    -0.579941  3.145987e-15
...            ...       ...       ...          ...           ...
3257 -2.704077e-01  2.303963 -0.345009    -1.128397  7.691054e-02
3260 -6.043133e-16 -1.874772 -1.484399     1.202909  3.145987e-15
3262  8.826874e-01  0.065148  0.736847    -0.407634 -3.956762e-01
3265  7.597026e-01  0.204887  0.648745    -0.410251 -1.352887e-01
3274 -1.329516e+00  1.041355 -1.144058    -0.517373  3.145987e-15

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
2        -0.094032        0.781117         0.001509  -1.167365           0
3        -0.778830        1.255134         2.152874   0.848412           0
5        -1.803416       -1.779276        -0.727982  -1.803337           0
15        1.120359       -0.829950         0.550204   0.524902           0
18        0.064828       -0.422115        -0.163314  -1.961774           0
...            ...             ...              ...        ...         ...
3257     -1.466125        1.781849         0.571174   1.590841           1
3260      0.024859       -1.697969         0.531290  -0.342485           1
3262      0.911525        0.333805        -1.977177   0.715024           1
3265      0.227784       -0.010308        -0.221347  -0.775319           1
3274     -0.288597       -0.942064         0.703468   0.950797           1

[655 rows x 10 columns]>

# ***2. ML Model 1: Perceptron***

# ***3. ML Model 2: Fisher Discriminant***

# ***4. ML Model 3: KNN***

# ***5. ML Model 4 (Based on research literature): QDA***

# ***6. Comparison of insights drawn from the models***

# **_7. References_**

1.   List item
2.   List item